<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
            http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">


	<context:property-placeholder location="classpath:sport.properties" />

	<bean id="myFortune" class="com.dp.spring.HappyFortuneService" />

	<bean id="myCricketCoach" class="com.dp.spring.CricketCoach">
		<property name="fortuneService" ref="myFortune" />
		<property name="team" value="${cric.coach.email}" />
		<property name="emailAddress" value="${cric.coach.team}" />
	</bean>

	<bean id="myTrackCoach" class="com.dp.spring.TrackCoach">
		<constructor-arg ref="myFortune" />
	</bean>


	<bean id="myBaseballCoach" class="com.dp.spring.BaseballCoach">
		<constructor-arg ref="myFortune" />
	</bean>


</beans>